:root{
    --color-primary:rgb(19,21,23);
    --color-secondary:#1e1f23;
    --color-secondary-shadow:rgb(39, 41, 44);

    --color-txt-primary:rgb(223, 222, 222);
    --color-txt-secondary:rgb(86, 87, 93);

    --color-feature-primary:rgb(231,177, 106);
    --color-feature-secondary:#2196F3;

    --color-trend-descent:rgb(255, 108, 108);
    --color-trend-ascent:rgb(92, 190, 92);
}